body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
}

.header {
    width: 100%;
    height: 62px;
    background: rgba(26,26,26,0.92);
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3);
    color: #fff;
    margin-bottom: 40px;
}

.header-container {
    max-width: 1280px;
    margin: 0 auto;
    line-height: 62px;
}

.cart-button {
    color: #fff;
    background: #7bbb5e;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    float: right;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.main {
    position: relative;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}

.goods-item {
    padding: 20px;
    width: calc(100% / 4 - 20px);
    background: hsla(0,0%,98%,.6);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    margin: 0 0 20px 20px;
    border: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.goods-item .title {
    line-height: 24px;
    color: #282B30;
    margin: 10px 0;
    height: 48px;
}

.goods-item .price:after {
    content: ' ₽';
}

.goods-item .price {
    color: #404040;
    font-weight: 700;
    text-align: right;
    margin-top: 20px;
}

.goods-item .image {
    width: 100%;
}